
.react-activity-calendar__tooltip {
  position: absolute;
  z-index: 50;
  width: max-content;
  max-width: calc(100vw - 80px);
  padding: 4px 6px;
  border-radius: 0.3rem;
  font-weight: 500;
  background-color: #f4f4f5; /* dark gray */
  

  font-size: 11px;
  

  pointer-events: none;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.2);
  /* See the `withArrow` setting. */
  .react-activity-calendar__tooltip-arrow {
    fill: #f4f4f5;
  }
  
  /* Use this instead of a media query - the component theme can be set */
  /* independent of the system color scheme. */
  &[data-color-scheme='dark'] {
    background-color: #3f3f46;
    /* color: hsl(0 0% 6%); */

    .react-activity-calendar__tooltip-arrow {
      fill: #3f3f46;
    }
  }
}
